.building {
    fill: #5aa8ff;
    transition: transform 0.5s ease;
    transform-origin: center;
    opacity: 0.9;
}

.bub{
    transition: transform 0.25s ease;
    opacity: 0.9;
    transform-origin: center;
    transform-box: fill-box;
}

.bub:hover {
    transform: scale(1.5);
    cursor: pointer;
    opacity: 1;
}


/* Example pulsing animation */
@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.15); opacity: 0.7; }
    100% { transform: scale(1); opacity: 1; }
}

.animate-pulse {
    animation: pulse 2s infinite ease-in-out;
}